body{
    background-color: rgb(17, 24, 39);
    color: white;
}
.table-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(31, 41, 55);
    border-radius: 10px;
}
.table-content{
    margin-top: 60px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
table,
th,
tr,
td{
    border: 1px solid;
    border-color: black;
}
th{
    background-color: gray;
    padding: 1rem;
}
td{
    padding: 1rem;
}

td img {
    display: block;
    margin: 0 auto;
}

button,
button[type="submit"],
.button-style
{
    padding: 10px 20px;
    background-color: #3490dc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn-delete{
    background-color: red;
}

input[type="text"]{
    color: black;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin:10px;
}

.container-nav {
    background-color: rgb(31, 41, 55);
    padding: 15px;
}

.container-nav .content-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 100px;
}

.content-nav .search-form{
    display: flex;
    align-items: center;
}

.content-nav h2 {
    font-size: 24px;
    margin: 0;
    font-style: italic;
}
.search-form{
    position: absolute;
    top: 70px;
    right: 20px;
}

.home_btn{
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 5px;
}


.error-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
}


